{% extends "base.html" %}

{% load django_tables2 %}

{% block title %}
    Order Tracking
{% endblock %}

{% block content %}

    {% if messages %}
        <br>
        {% for message in messages %}
            <div class="messages alert alert-info alert-dismissible">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if orders %}
        <br>
        {% render_table table %}
    {% else %}
        <br>
        <h3>There is no orders at this time.</h3>
    {% endif %}
    <hr>
    <p><a class="btn btn-primary" href="{% url "accounting:order-create" %}">Create new order</a></p>
{% endblock %}