{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrajs %}
    {{ form.media }}
{% endblock %}

{% block title %}
    Create an Order
{% endblock %}


{% block content %}
    <h1>Create an Order</h1>
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <hr>
    <p><a class="btn btn-primary" href="{% url "accounting:order-track" %}">Review all Orders</a></p>
{% endblock %}
